# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Node/Vite related
node_modules/
dist/
coverage/
*.tsbuildinfo
